streamlit>=1.35.0
streamlit-autorefresh>=1.0.1
pandas>=2.0.0
numpy>=1.26.0
pandas_ta>=0.3.14b
requests>=2.31.0
yfinance>=0.2.40
tvdatafeed @ git+https://github.com/StreamAlpha/tvdatafeed.git
plotly>=5.20.0
